.container {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.container input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 16px;
}